header {
    padding: 25px;
    font-family: "Lobster",sans-serif;
    font-size: 35px;
    background-color: #A7EBF2;
    color: #F25764;
}
.logo-santa {
    width: 30px;
    height: 30px;
}

.jugar {
    float: right;
    background-color: #F25764;
    border-color: #FFFFFF;
    border-width: 5px;
    border-radius: 20px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Lobster",sans-serif;
}

header {
    padding-left: 50px;
}
header > img {
    width: 28pt;
    height: 29pt
}
section {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Lobster",sans-serif;
}
section {
    display: flex;
    justify-content: space-between;
}

article {
    margin-left: 50px;
    padding-top: 20px;
    width: 50%
}

article, p {
    color: #202845;
}
img {
    border-radius: 5px;
    width: 100%;
}
article > p:nth-child(n+2) {
    font-size: 15pt;
}

article > p:first-of-type {
    font-size: 40pt;
    font-weight: bold;
}

article > p:nth-of-type(2) {
    font-size: 30pt;
    margin-bottom: 15px;
}
