<main>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <!--Agregando el heador con el logo, titulo y boton para jugar Santa Tracker-->
  <header>
    <img src="../assets/logosantatracker.gif" class="logo-santa">
    Santa Tracker List
    <a href="https://santatracker.google.com/">
      <button class="jugar">Juega ahora</button>
    </a>
  </header>
  <section>
    <app-character-list></app-character-list>
  </section>
</main>