<main>
  <!--Agregando el heador con el logo, titulo y boton para jugar Santa Tracker-->
  <header>
    <img src="../assets/logosantatracker.gif" class="logo-santa">
    Santa Tracker List
    <a href="https://santatracker.google.com/">
      <button class="jugar">Juega ahora</button>
    </a>
  </header>
  <section>
    <app-character-list [characterList]="characterList" (characterSelectedEvent)="updateSelectedCharacter($event)"></app-character-list>
    <article>
      <img [src]="selectedCharacter?.image">
      <p>{{selectedCharacter?.name}}</p>
      <p>{{selectedCharacter?.description}}</p>
      <p>{{selectedCharacter?.hobbies ? "Has hobbies" : "Does Not have hobbies"}}</p>
    </article>
  </section>
</main>